
	<body class="listBackground">
  <div class="list-page-wrapper mapflexcontainer">
		<div class="button-container mapflexcontainer">
    <% @list.each do |list| %>

    <div class="listBox">
    <a href="/list/<% list.id %>" class="restaurant-name"><%= list.restaurants %></a>
    <div class="restaurant-image" style="background-image:url(<%= list.image %>)"></div><br>
    <p class="mentor-name"><%= list.name %></p><br>
    <p class="restaurant-genre"><%= list.genre %></p><br>
    <p class="camp-place"><%= list.camp %></p><br>
    <%# <p><%= list.review %></p>
    </div>

    <%end%>
		</div>


	</div>

  <div id="map" class="mapflex"></div><!-- 地図を表示する div 要素（id="map"）-->




<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj00aiZpPTkxVXVTTGgzbVBUMCZzPWNvbnN1bWVyc2VjcmV0Jng9MjU-"></script>
<script type="text/javascript">
window.onload = function(){
   var ymap = new Y.Map("map");
   ymap.drawMap(new Y.LatLng(35.66572, 139.73100), 17, Y.LayerSetId.NORMAL);
}

</script>



<%# <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16.5,
          center: {lat: 35.3880800, lng: 139.4272151 }
        });

        map.addListener('click', function(e) {
          placeMarkerAndPanTo(e.latLng, map);
        });
      }

      function placeMarkerAndPanTo(latLng, map) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
        map.panTo(latLng);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1iiA_x3dpWbnSla7RJu5fcrXJsSyjYs&callback=initMap">
    </script> %>

</body>